In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.feature_extraction.text import CountVectorizer

In [72]:
movies = pd.read_csv('movies.csv')

In [47]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [73]:
ratings = pd.read_csv('ratings.csv')

In [74]:
ratings = ratings.drop(['timestamp'], axis=1)

In [75]:
ratings = ratings.drop(['userId'], axis=1)

In [51]:
ratings.head()

   movieId  rating
0       31     2.5
1     1029     3.0
2     1061     3.0
3     1129     2.0
4     1172     4.0

In [52]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 2 columns):
movieId    100004 non-null int64
rating     100004 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.5 MB

In [76]:
ratings[ratings.movieId == 2].mean()

movieId    2.000000
rating     3.401869
dtype: float64

In [77]:
group_rate = ratings.groupby('movieId', as_index=False).agg({"rating": "mean"})

In [78]:
group_rate.head()

   movieId    rating
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

In [56]:
group_rate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9066 entries, 0 to 9065
Data columns (total 2 columns):
movieId    9066 non-null int64
rating     9066 non-null float64
dtypes: float64(1), int64(1)
memory usage: 212.5 KB

In [79]:
movies.genres=movies.genres.str.split("|")
movies.genres=movies.genres.str.join(' ')
movies.genres=movies.genres.str.replace('Sci-Fi', 'SciFi')
movies.genres=movies.genres.str.replace('Film-Noir', 'Noir')
movies.genres=movies.genres.str.replace('(no genres listed)', '')
cv = CountVectorizer ()
X = cv.fit_transform(movies.genres).toarray()
X = pd.DataFrame(X)
res = {v: k for k, v in cv.vocabulary_.items()}
X.columns = pd.Series(X.columns).map(res)
movies = pd.concat([movies, X], axis = 1)

In [80]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 22 columns):
movieId        9125 non-null int64
title          9125 non-null object
genres         9125 non-null object
action         9125 non-null int64
adventure      9125 non-null int64
animation      9125 non-null int64
children       9125 non-null int64
comedy         9125 non-null int64
crime          9125 non-null int64
documentary    9125 non-null int64
drama          9125 non-null int64
fantasy        9125 non-null int64
horror         9125 non-null int64
imax           9125 non-null int64
musical        9125 non-null int64
mystery        9125 non-null int64
noir           9125 non-null int64
romance        9125 non-null int64
scifi          9125 non-null int64
thriller       9125 non-null int64
war            9125 non-null int64
western        9125 non-null int64
dtypes: int64(20), object(2)
memory usage: 1.5+ MB

In [81]:
merged_data=pd.merge(movies,group_rate)

In [82]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9066 entries, 0 to 9065
Data columns (total 23 columns):
movieId        9066 non-null int64
title          9066 non-null object
genres         9066 non-null object
action         9066 non-null int64
adventure      9066 non-null int64
animation      9066 non-null int64
children       9066 non-null int64
comedy         9066 non-null int64
crime          9066 non-null int64
documentary    9066 non-null int64
drama          9066 non-null int64
fantasy        9066 non-null int64
horror         9066 non-null int64
imax           9066 non-null int64
musical        9066 non-null int64
mystery        9066 non-null int64
noir           9066 non-null int64
romance        9066 non-null int64
scifi          9066 non-null int64
thriller       9066 non-null int64
war            9066 non-null int64
western        9066 non-null int64
rating         9066 non-null float64
dtypes: float64(1), int64(20), object(2)
memory usage: 1.7+ MB

In [83]:
merged_data.noir.value_counts()

0    8945
1     121
Name: noir, dtype: int64

In [84]:
merged_data['action'] = merged_data['action']*merged_data['rating']
merged_data['adventure'] = merged_data['adventure']*merged_data['rating']
merged_data['animation'] = merged_data['animation']*merged_data['rating']
merged_data['children'] = merged_data['children']*merged_data['rating']
merged_data['comedy'] = merged_data['comedy']*merged_data['rating']
merged_data['crime'] = merged_data['crime']*merged_data['rating']
merged_data['documentary'] = merged_data['documentary']*merged_data['rating']
merged_data['drama'] = merged_data['drama']*merged_data['rating']
merged_data['fantasy'] = merged_data['fantasy']*merged_data['rating']
merged_data['horror'] = merged_data['horror']*merged_data['rating']
merged_data['imax'] = merged_data['imax']*merged_data['rating']
merged_data['musical'] = merged_data['musical']*merged_data['rating']
merged_data['mystery'] = merged_data['mystery']*merged_data['rating']
merged_data['noir'] = merged_data['noir']*merged_data['rating']
merged_data['romance'] = merged_data['romance']*merged_data['rating']
merged_data['scifi'] = merged_data['scifi']*merged_data['rating']
merged_data['thriller'] = merged_data['thriller']*merged_data['rating']
merged_data['war'] = merged_data['war']*merged_data['rating']
merged_data['western'] = merged_data['western']*merged_data['rating']

In [85]:
merged_data.head()

,movieId,title,genres,action,adventure,animation,children,comedy,crime,documentary,...,imax,musical,mystery,noir,romance,scifi,thriller,war,western,rating
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,0.0,3.872470,3.87247,3.872470,3.872470,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,3.872470
1,2,Jumanji (1995),Adventure Children Fantasy,0.0,3.401869,0.00000,3.401869,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,3.401869
2,3,Grumpier Old Men (1995),Comedy Romance,0.0,0.000000,0.00000,0.000000,3.161017,0.0,0.0,...,0.0,0.0,0.0,0.0,3.161017,0.0,0.0,0.0,0.0,3.161017
3,4,Waiting to Exhale (1995),Comedy Drama Romance,0.0,0.000000,0.00000,0.000000,2.384615,0.0,0.0,...,0.0,0.0,0.0,0.0,2.384615,0.0,0.0,0.0,0.0,2.384615
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.000000,0.00000,0.000000,3.267857,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,3.267857

In [98]:
reco = merged_data.nlargest(5, 'crime')
print(reco['title'])

705     Supercop 2 (Project S) (Chao ji ji hua) (1993)
2913                                      Lured (1947)
3155                                 Get Carter (1971)
3523                              Above the Law (1988)
3833                              Enforcer, The (1976)
Name: title, dtype: object